body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #4ECDFA;
    padding: 20px 0; 
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto; 
}

.img_logo{
    width: 19%;
}

.lista{
    color: aliceblue;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: rgb(0,0,0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: black;
    text-decoration: underline;
}

main{
    background-color: aliceblue;
}


footer{
    text-align: center;
    background-color: #4ECDFA;
    padding: 40px 0;
}

.copyright{
    color: aliceblue;
    font-size: 13px;
    margin-top: 20px;
}

/*--------------------------------------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.enviar{
    width: 40% ;
    padding: 15px 0;
    margin: 40px auto;
    background-color:#3dbec7;
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    align-items: center;
    
}

.enviar:hover{
    background-color: #1e5569;
    transform: scale(1.2);
}

.txt-modal{
    text-align: center;
    margin: 1rem;
}

.img-modal{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}

/*-----------------------------------------------------------------------------------------------*/
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    width: 200px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: auto auto;
    margin-bottom: 1rem;
    font-size: 1.75em;
}
/*---------------------------------------------------------------------------*/
@media screen and (max-width: 480px){
    
    .caixa{
        width: 100%;
    }

    .img_logo{
        display: none;
    }

    .produtos{
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    main ul li img {
        width: 100%;
    }

    .produtos li{
        margin: 2rem;
    }

    .nome__produtos{
        text-align: center;
        width: auto;
    }

    nav{
        position: static;
    }
}
